h1 {
    color: #FFE5CF; 
    font-size: 2.5rem; 
    text-align: center; 
}

@keyframes blink {
    0% {
        opacity: 1; /* Fully visible */
    }
    50% {
        opacity: 0; /* Fully transparent */
    }
    100% {
        opacity: 1; /* Fully visible again */
    }
}

h2 {
    color: #3A4B61;
    font-size: 1rem;
    animation: blink 0.5s infinite;
    font-family: 'monospace';
}
a {
    color: #3A4B61;
    text-decoration: none;
}
body {
    background-color: #90ADAD ; 
    color: #FFE5CF;
    text-align: center;
    font-family: 'Menlo';
    line-height: 1.6;
    margin: 0; 
    padding: 20px;
}